/* --- SPACING --- */
html {
  --space-s: 2vw;
  --space-m: 4.5vw;
  --space-l: 10vw;
}

.twelve-grid-columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--space-m);
}

.grid-column_one {
  grid-column: auto/span 1;
}

.grid-column_two {
  grid-column: auto/span 2;
}

.grid-column_four {
  grid-column: auto/span 4;
}
