.container__page-btn {
  width: 8vw;
  height: 10vh;
  font-size: 0.8em;
}

.container__arrow-icon {
  width: var(--size-icon);
  height: var(--size-icon);
  padding: var(--icon-padding);
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.space__btn {
  width: var(--size-icon);
}

.btn__arrow-back,
.btn__arrow-next {
  width: 8px;
  height: 8px;
  border-left: solid 1.5px var(--border-color);
  border-bottom: solid 1.5px var(--border-color);
}

.btn__arrow-back {
  transform: rotate(45deg);
}

.btn__arrow-next {
  transform: rotate(-135deg);
}

.container__arrow-icon:hover {
  background-color: var(--icon-hover-bg-color);
}
