.container__page-btn {
  width: 8vw;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
}

.container__arrow-icon {
  width: 24px;
  height: 24px;
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.space__btn {
  height: 100%;
  width: 24px;
}

.btn__arrow-back,
.btn__arrow-next {
  width: 8px;
  height: 8px;
  border-left: solid 1.5px var(--border-color);
  border-bottom: solid 1.5px var(--border-color);
}

.btn__arrow-back {
  transform: rotate(45deg);
}

.btn__arrow-next {
  transform: rotate(-135deg);
}

.container__arrow-icon:hover {
  background-color: var(--icon-hover-bg-color);
}
