@media screen and (max-width: 1024px) {
  main {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    --space-xs: 2vw;
    --space-s: 4.5vw;
    --space-m: 5vw;
  }

  .container__table-title {
    margin-bottom: 40px;
  }

  .container__input-search {
    width: 90vw;
    display: grid;
    place-items: center;
  }

  .input__search {
    width: 90vw;
  }

  table {
    width: 120vw;
  }

  .container__table {
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 95%
    );
  }
}
