/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); /* font-family: 'Lato', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*font-family: 'Noto Sans Mono', monospace*/

/* --- COLORS--- */
html {
  --grey: #d8d8d8;
  --off-grey: #f5f5f5;
  --blue: #225a92;
  --light-blue: #56b3df;
  --off-black: #1e1e1e;
}

main {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid green 1px; */
}

.container__table {
  width: 100%;
  height: 90%;
  overflow: scroll;
}

.table-header {
  height: 40px;
  margin-bottom: 40px;
  font-size: 0.8em;
  border-bottom: solid var(--off-black) 1px;
  align-items: center;
}

th {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 300;
  cursor: pointer;
}

th:hover {
  font-weight: 600;
}

.table-row {
  height: calc((80vh * 0.8 - 32px) / 5);
  border-bottom: solid var(--grey) 1px;
  display: grid;
  align-items: center;
}

.table-header_num {
  justify-content: end;
}

.table-row_num {
  font-family: "Noto Sans Mono", monospace;
  text-align: right;
}

.table-row_date {
  font-size: 0.9em;
}

.table-row_product {
  font-size: 1.5em;
}

.table-row_user a {
  color: var(--blue);
  font-size: 0.9em;
  font-style: italic;
}

.container__page-btn {
  width: 8vw;
  height: 10%;
  /* border: red solid 1px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
}

button {
  width: 24px;
  height: 24px;
  padding: 4px 8px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.space__btn {
  height: 100%;
  width: 40px;
}

.btn__arrow-back,
.btn__arrow-next {
  width: 8px;
  height: 8px;
  border-left: solid 1.5px var(--off-black);
  border-bottom: solid 1.5px var(--off-black);
}

.btn__arrow-back {
  transform: rotate(45deg);
}

.btn__arrow-next {
  transform: rotate(-135deg);
}

button:hover {
  background-color: var(--off-grey);
}

.container__sort-icons {
  width: fit-content;
  height: fit-content;
}

.sort-icon,
.sort-icon__active {
  width: 8px;
  height: 8px;
  margin: 2px;
  border-radius: 50%;
  border: var(--off-black) 1px solid;
}

.sort-icon__active {
  background-color: var(--light-blue);
}

.container__table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon__filter {
  width: 24px;
  height: 24px;
}

.container__filter-icon {
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.container__filter-icon:hover {
  background-color: var(--off-grey);
}
