.container__table {
  width: 100%;
  overflow: scroll;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

.container__table-header {
  height: 40px;
  font-size: 0.8em;
  border-bottom: solid var(--border-color) 1px;
}

.sort--active {
  font-weight: 700;
  font-style: italic;
}

th {
  gap: 0.5em;
  font-weight: 300;
  cursor: pointer;
}

th:hover {
  font-weight: 600;
}

.container__sort-icons > div:first-child {
  margin-bottom: 0.2em;
}

.sort-icon,
.sort-icon__active {
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  border: var(--border-color) 1px solid;
}

.sort-icon__active {
  background-color: var(--light-blue);
}
